#01{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

/* button{
    cursor: pointer;
    background-color: #858585;
    color: #fff;
}

h1{
    color: rgb(55, 73, 73);
}
.ContainerRport{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
   

}

.ulReport{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    list-style-type: none;
    padding: 0;


} */

